@model IEnumerable<LaraSotoProyecto.Models.Archivos>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foros.Asunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSubida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Foros.Asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSubida)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArchivosID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArchivosID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArchivosID })
        </td>
    </tr>
}

</table>
