@model LaraSotoProyecto.Models.Archivos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Archivos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foros.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foros.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSubida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSubida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArchivosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
